.about-us {
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.about-us__title {
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 40px;
}

.about-us__text {
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  padding-bottom: 20px;
}

.about-us__author {
  font-family: "Neucha", cursive;
  font-size: 15px;
}

.about-us__description {
  margin-bottom: 30px;
}

.about-us__img {
  width: 280px;
}

@media (min-width: $tablet-width) {
  .about-us {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    width: 768px;
  }

  .about-us__description {
    order: 1;
    width: 355px;
    padding-left: 20px;
  }

  .about-us__img-wrapper {
    padding-top: 35px;
    padding-right: 20px;
    text-align: center;
  }

  .about-us__text {
    padding-bottom: 30px;
  }

  .about-us__img {
    width: 330px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    width: 1050px;
    height: 100vh;
    margin-bottom: 30px;
  }

  .about-us__description {
    order: 1;
    width: 600px;
    padding-left: 0;
  }

  .about-us__title {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .about-us__img-wrapper {
    padding-right: 55px;
    padding-top: 50px;
  }

  .about-us__text {
    padding-bottom: 15px;
  }
}
