.about-us {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 60px;
}

.about-us__title {
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    // text-align: center;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 40px;
}

.about-us__text {
  font-family: $font-stack;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  padding-bottom: 20px;
}

.about-us__author {
  font-family: 'Neucha', cursive;
  font-size: 15px;
}

.about-us__description {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .about-us {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
  }
  .about-us__description {
    order: 1;
    width: 380px;
  }

  .about-us__img-wrapper {
    padding-top: 115px;
    padding-right: 40px;
  }

  .about-us__text {
    padding-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {


}
