.popup-cart {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  background-color: $white;
  border: 1px solid $greye6;
  box-shadow: 0 5px 16px 0 $greye6;
}

.popup-cart__title {
  @include second-title;
  text-transform: uppercase;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.popup-cart-form__content {
  border: none;
  font-size: 0;
}

.popup-cart-form__title {
  line-height: 30px;
  color: $primary-color;
  font-size: $main-font-size;
  margin-bottom: 20px;
}

.popup-cart-form__wrapper {
  display: flex;
  justify-content: space-between;
}

.popup-cart-form__label {
  position: relative;
  font-size: 17px;
  line-height: 16px;
  color: $primary-color;
  text-transform: uppercase;
  width: 80px;
  cursor: pointer;
  border: 2px solid $greyec;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;

  &:hover {
    border: 2px solid $primary-color;
  }
}

.popup-cart-form__radio {
  display: none;
}

.popup-cart-form__radio:checked + .popup-cart-form__label {
  &::after {
    content: "";
    position: absolute;
    width: 76px;
    height: 46px;
    top: -2px;
    left: -2px;
    border: 2px solid $secondary-color;
    cursor: pointer;
  }
}

.popup-cart__button {
  background-color: $secondary-color;
  border: 2px solid $secondary-color;
  color: $white;
  margin-bottom: 50px;
  margin-top: 30px;

  &:hover {
    border: 2px solid $primary-color;
  }
}

.pop-up-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.popup-overlay--show {
  display: block;
}

.popup-content--show {
  display: block;
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }

  60% {
    transform: translate(-50%, -50%) scale(1.1);
  }

  80% {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .popup-cart {
    width: 570px;
  }

  .popup-cart-form__content {
    width: 350px;
    margin: 0 auto;
  }

  .popup-cart__title {
    font-size: 30px;
    line-height: 57px;
  }

  .popup-cart-form__title {
    font-size: 17px;
  }

  .popup-cart-form__label {
    width: 112px;
  }

  .popup-cart__button {
    width: 350px;
  }

  .popup-cart-form__radio:checked + .popup-cart-form__label {
    &::after {
      width: 108px;
    }
  }
}
