.portfolio {
  background-color: #08101a;
}

.portfolio-wrapper {
  margin: 0 auto;
  width: 320px;
}

.portfolio__title {
  font-size: 35px;
  color: #ffffff;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 60px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.portfolio__item {
  padding-bottom: 20px;
  width: 280px;
}

.portfolio__img {
  display: block;
}

.portfolio__popup {
  outline: none;
}

.portfolio__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .portfolio__cards {
    justify-content: space-around;
  }

  .portfolio-wrapper {
    width: 768px;
    padding-bottom: 50px;
  }

  .portfolio__title {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .portfolio__item {
    padding-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .portfolio-wrapper {
    width: 1050px;
  }

  .portfolio__cards {
    width: 900px;

    justify-content: space-between;
  }

  .portfolio__item {
    padding-bottom: 60px;
  }
}
