.portfolio {
  background-color: #08101a;
}

.portfolio-wrapper {
  margin: 0 auto;
  width: 320px;
}

.portfolio__title {
  font-size: 35px;
  font-family: 'Roboto', sans-serif;
  color: $white;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 60px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.portfolio__item {
    padding-bottom: 20px;
    width: 280px;
}

@media (min-width: $tablet-width) {
 .portfolio__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .portfolio-wrapper {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .portfolio-wrapper {
    width: 1200px;
  }
}
